/*p{
    color: cadetblue;
    font-family: Arial;
    font-size: large;
}*/
body{
    color: blue;
}
h1{
    color: black;
}
p{
    color: red;
}
div, h1, h2{
    font-size: 12px;
    color: #81a61a;
}
div h2{
    font-size: 60px;
}
div p a{
    color: green;
}